@font-face {
  font-family: "SpartanVariable";
  src: url("../fonts/Spartan-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/static/Spartan-Regular.ttf") format("truetype-variations");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/static/Spartan-Medium.ttf") format("truetype-variations");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/static/Spartan-Bold.ttf") format("truetype-variations");
  font-weight: 700;
  font-style: normal;
}

// Estilo general de tipografía de la página.
body {
  font-size: 1.5rem;
  font-family: "Spartan";
  font-weight: 400;
}

/************************
* SOCIAL PROOF SECTION *
************************/

.social-proof-title {
  text-align: center;

  h1 {
    font-size: 3.2rem;
    line-height: 3rem;
    color: $primary-magenta;
    font-weight: 700;
    letter-spacing: -1px;
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $neutral-dark-magenta;
    font-weight: 500;
  }
}

.star-review {
  text-align: center;
}

.star-review__title {
  color: $primary-magenta;
  font-weight: 700;
  font-size: 1.3rem;
}

.review-card {
  color: $neutral-white;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;

  &__user-name {
    font-weight: 700;
  }

  &__user-role {
    color: $primary-pink;
  }
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  color: $neutral-dark-magenta;
  font-weight: 700;

  a:link,
  a:visited {
    color: $primary-magenta;
  }
}

// Aquí van los estilos de tipografía para los navegadores que soportan
// las fuentes variables.
@supports (font-variation-settings: normal) {
  body {
    font-family: "SpartanVariable";
    font-variation-settings: "wght" 400;
  }

  /************************
   * SOCIAL PROOF SECTION *
   ************************/
  .social-proof-title {
    h1 {
      font-variation-settings: "wght" 700;
    }

    p {
      font-variation-settings: "wght" 550;
    }
  }

  .star-review__title {
    font-variation-settings: "wght" 725;
  }

  .review-card {
    font-variation-settings: "wght" 400;

    &__user-name {
      font-variation-settings: "wght" 675;
    }
  }

  .attribution {
    font-variation-settings: "wght" 500;
  }
}
