.review-card {
  background-color: $primary-magenta;
  border-radius: $border-radius-value;
  padding: 3.25rem;

  &:not(:last-child) {
    margin-bottom: $margin-bottom-value;
  }

  &__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__user-picture {
    border-radius: 50%;
    height: 4.5rem;
  }

  &__user-info-container {
    margin-left: 2rem;
  }

  &__user-name {
    margin-bottom: 0.2rem;
  }
}

@include respond(desktop) {
  .review-card {
    &:not(:last-child) {
      margin-right: 3rem;
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-top: 2rem;
    }

    &:nth-child(3) {
      margin-top: 4rem;
    }
  }
}
