.star-review {
  background-color: rgba($primary-magenta, 0.05);
  border-radius: $border-radius-value;
  padding: 1.5rem;

  &:not(:last-child) {
    margin-bottom: $margin-bottom-value;
  }

  &__stars {
    padding-bottom: 1rem;

    img {
      padding: 0 0.1rem;
    }
  }
}

@include respond(desktop) {
  .star-review {
    width: 82.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.75rem;

    &__stars {
      padding: 0 1.5rem;

      img {
        padding: 0 0.1rem;
      }
    }

    &__title {
      padding: 0 1.5rem;
    }

    &:nth-child(2) {
      margin-left: 8.75%;
    }

    &:nth-child(3) {
      margin-left: 17.5%;
    }
  }
}
